<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Score">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="10">
    <meta name="robots" content="noindex, nofollow">
    <title>Score</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <div class="container">
        <h2>Waiting time:</h2> 
        <span id="score" data-score="{{ seconds }}"></span>
        <p>Unfinished orders: <span>{{ unfinish }}</span></p>
        <p>Finished orders: <span>{{ finished }}</span></p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        var score = $('#score');
        var score_value = score.data('score');
        if (score_value < 420){
          score.css({'color': '#76ff03'});
        } else if ((score_value >= 420) && (score_value < 1800)){
          score.css({'color': '#ffea00'});
        } else if (score_value > 1800){
          score.css({'color': '#ff1744'});
        }
        var minutes = Math.floor(score_value / 60);
        var seconds = score_value - minutes * 60;
        score.html(minutes + '<span class="letter">m</span> ' + seconds + '<span class="letter">s</span>');
      });
    </script>
  </body>
</html>
